header {
    background-color: #00d5ab;
    padding: 20px;
    text-align: center;
}
h1 {
    color: white;
    font-family: Arial, sans-serif;
}
nav {
    background-color: #00d5ab;
    display: flex;
    justify-content: space-between;
}